<html>
  <body>
  <center>
  <h1 style="font-size: 25px;"> Nhập Url cần kiểm tra</h1>
  <form method="get">
    <label for="url"></label>
    <input type="text"  name="url" id="url"
    placeholder="https://example.com"
    size="60"  style="height: 30px;">
    <input  type="submit" onclick="getInputValue();" style="font-size: large;" value="Kiểm tra" >
  </form>
    
    <script>
      function getInputValue(){
        var Inputvalue=document.getElementById("url").value;
        alert(Inputvalue);
      }
    </script>
  </center> 
 
  </body>
</html>

 